@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
background: radial-gradient(circle at center, 
        #ffc0cb,   /* light pink */
        #ffb6c1,   /* pink */
        #ff69b4,   /* hot pink */
        #ff1493,   /* deep pink */
        #db7093    /* pale violet red */
      );    min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background: #fff;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(255, 105, 135, 0.3);
  width: 100%;
  max-width: 450px;
}

h1 {
  text-align: center;
  color: #ff2d75;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px 15px;
  border: 2px solid #ffb6c1;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  color: #ff2d75;
  box-shadow: inset 0 2px 5px rgba(223, 6, 6, 0.05);
}

input::placeholder {
  color: #ff2d75;
}

button {
  background: #ff2d75;
  /* background: deeppink; */
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

button:hover {
  background: #e02668;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffe8f0;
  border: 1px solid #ffd2dd;
  padding: 12px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: 0.3s ease;
}

.task,.editInput {
  flex: 1;
  margin: 0 12px;
  color: #333;
  font-size: 16px;
}
.editInput{
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #ff2d75;
}
.checkBtn,
.deleteBtn,
.editBtn,
.updateBtn {
  background: none;
  border: none;
  font-size: 18px;
  color: #ff2d75;
  cursor: pointer;
  padding: 5px;
}

.checkBtn:hover,
.deleteBtn:hover,
.editBtn:hover,
.updateBtn:hover {
  color: white;
  background: #d8005b;
}

.actionBtns {
  display: flex;
  gap: 5px;
}


.clear-all {
  text-align: right;
  margin-top: 20px;
}

#clearBtn {
  padding: 8px 25px;
  background-color: #ff2d75;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

#clearBtn:hover {
  background-color: #e02668;
}

.completed{
    text-decoration: line-through;
    color: darkgrey;
}