@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #fce4ec, #f8bbd0);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
}

.app-container {
  background: white;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #e91e63;
  margin-bottom: 1rem;
  text-align: center;
}

textarea {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid #f48fb1;
  border-radius: 8px;
  resize: none;
  height: 100px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

textarea::placeholder {
  color: #ad1457;
  opacity: 0.7;
}

#saveBtn {
  margin-bottom: 1.2rem;
}
.clear-all {
  text-align: right;
  margin-top: 20px;
}
#saveBtn,
#clearBtn {
  background: #e91e63;
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

#saveBtn:hover,
#clearBtn:hover {
  background: #f51196;
}
.notes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid #e91e63;
  border-radius: 8px;
  background: #fff0f5;
  padding: 1rem;
  transition: 0.3s ease;
}
.note p {
  color: #333;
  font-size: 16px;
}
.actionBtns {
  display: flex;
  gap: 5px;
}
.deleteBtn,
.editBtn,
.updateBtn {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #ff2d75;
  cursor: pointer;
  padding: 5px;
}

.deleteBtn:hover,
.editBtn:hover,
.updateBtn:hover {
  color: white;
  background: #d8005b;
}

.editInput {
  flex: 1;
  margin: 0 12px;
  color: #333;
  font-size: 16px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #ff2d75;
}
